@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Bold.woff2") format("woff2"), url("../fonts/Manrope-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.woff2") format("woff2"), url("../fonts/Manrope-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Medium.woff2") format("woff2"), url("../fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/*EFFECT*/
/* BREAKPOINT */
/* CUSTOM PROPS */
:root {
  --color-brown: #d87d4a;
  --color-brown-light: #fbaf85;
  --color-dark: #000000;
  --color-grey-dark: #101010;
  --color-grey-darkey: #4c4c4c;
  --color-grey: #f1f1f1;
  --color-light: #fafafa;
  --color-white: #ffffff;
  --color-red: #cd2c2c;
  /*EFFECT*/
  --transition: all 0.5s ease 0s;
  --color-primary: #d87d4a;
  --color-bg-body: #fafafa;
  --color-boder: #cfcfcf;
  --color-body-text: #000000;
  --color-error: #cd2c2c;
}

/* OUTLINE*/
/*
  Josh's Custom CSS Reset + some modifications
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* GLOBAL */
body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5625rem;
  /* 166.667%*/
  background-color: var(--color-bg-body);
  color: rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
}

img {
  height: auto;
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}
a:hover {
  text-decoration: none;
}
a:active {
  opacity: 0.6;
}

*:focus {
  outline: 2px dashed #d87d4a;
  outline-offset: 3px;
}

/* AUTOFILL-STYLES */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

/* PLACEHOLDER-STYLES */
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 74.375rem;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin-left: auto;
  margin-right: auto;
}

/*640*/
@media only screen and (min-width: 40em) {
  :root {
    --container-padding: 40px;
  }
}
@media only screen and (max-width: 40em) {
  :root {
    --container-padding: 24px;
  }
}
.button {
  display: inline-block;
  padding: 14px 29px;
  color: var(--color-white);
  background-color: var(--color-dark);
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0625rem;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  transition: var(--transition);
}
.button:hover {
  opacity: 0.6;
}
.button--block {
  display: block;
  width: 100%;
}
.button--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.button--primary:hover {
  background-color: var(--color-brown-light);
}
.button--outline {
  border: 1px solid var(--color-dark);
  background-color: transparent;
  color: var(--color-dark);
}
.button--outline:hover {
  background-color: var(--color-dark);
  color: var(--color-white);
}
.button:active {
  opacity: 0.6;
}

.arrow-link {
  display: inline-flex;
  gap: 12px;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-decoration: none;
  transition: var(--transition);
}
.arrow-link:hover {
  color: #d87d4a;
}
.arrow-link:active {
  opacity: 0.6;
}
.arrow-link::after {
  flex-shrink: 0;
  width: 8px;
  height: 12px;
  background-image: url("../img/arrow-right-primary.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}
.arrow-link--stretched::before {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
}
.arrow-link--stretched:focus {
  outline: none;
}
.arrow-link--stretched:focus::before {
  outline: 2px dashed #d87d4a;
  outline-offset: 3px;
}

.back-link {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  transition: var(--transition);
}
.back-link:hover {
  color: var(--color-primary);
}

.number-controls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 120px;
  height: 48px;
  background-color: var(--color-grey);
  color: var(--color-body-text);
  text-align: center;
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}
.number-controls--small {
  width: 96px;
  height: 36px;
  line-height: 32px;
}

.number-controls__button {
  border: 0;
  padding: 0;
  cursor: pointer;
}
.number-controls__button--decrement {
  order: -1;
  color: rgba(0, 0, 0, 0.5);
}
.number-controls__button:hover {
  color: #d87d4a;
}
.number-controls__button:active {
  opacity: 0.6;
}

.logo {
  display: block;
  text-decoration: none;
  flex-shrink: 0;
}
.logo__img {
  width: 143px;
  height: 25px;
  object-fit: contain;
}

.sitenav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 0;
  list-style: none;
}

.sitenav__link {
  display: block;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 192.308%;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  transition: var(--transition);
}
.sitenav__link:hover {
  color: var(--color-primary);
}

.sitenav__item--active .sitenav__link {
  color: var(--color-primary);
}

/*375 maxWidth*/
@media only screen and (min-width: 23.4375em) {
  .sitenav__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px 34px;
  }
}
.socials__list {
  display: flex;
  gap: 16px;
  padding: 0;
  list-style: none;
}

.socials__link {
  display: block;
  color: var(--color-white);
  transition: var(--transition);
}
.socials__link:hover {
  color: var(--color-primary);
}

.socials__icon {
  display: block;
}

/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}

.product-info {
  display: grid;
}
.product-info--center {
  text-align: center;
}
@media only screen and (min-width: 62em) {
  .product-info--center {
    text-align: left;
  }
}
.product-info__title {
  margin-bottom: 24px;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0625rem;
  color: var(--color-dark);
  text-transform: uppercase;
}
.product-info--white .product-info__title {
  color: var(--color-white);
}
.product-info--hero .product-info__title {
  margin-bottom: 24px;
  font-size: 2.25rem;
  line-height: 111.111%;
  letter-spacing: 0.08038rem;
}
@media only screen and (min-width: 48em) {
  .product-info--hero .product-info__title {
    font-size: 3.5rem;
    line-height: 103.571%;
    letter-spacing: 0.125rem;
  }
}
.product-info__title .product-info--category-page {
  margin-bottom: 24px;
}
@media only screen and (min-width: 48em) {
  .product-info__title .product-info--category-page {
    margin-bottom: 32px;
    font-size: 2.5rem;
    line-height: 110%;
    letter-spacing: 0.08931rem;
  }
}
.product-info--product-page .product-info__title {
  margin-bottom: 24px;
}
@media only screen and (min-width: 48em) {
  .product-info--product-page .product-info__title {
    margin-bottom: 32px;
    line-height: 114.286%;
  }
}
@media only screen and (min-width: 62em) {
  .product-info--product-page .product-info__title {
    font-size: 2.5rem;
    line-height: 11%;
    letter-spacing: 0.08931rem;
  }
}
.product-info__new {
  order: -1;
  margin-bottom: 24px;
  color: var(--color-primary);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.625rem;
  text-transform: uppercase;
}
.product-info--white .product-info__new {
  color: rgba(255, 255, 255, 0.75);
}
.product-info--hero .product-info__new {
  margin-bottom: 16px;
  color: rgba(255, 255, 255, 0.5);
}
@media only screen and (min-width: 48em) {
  .product-info--hero .product-info__new {
    margin-bottom: 24px;
  }
}
.product-info--category-page .product-info__new {
  margin-bottom: 24px;
}
@media only screen and (min-width: 48em) {
  .product-info--category-page .product-info__new {
    margin-bottom: 16px;
  }
}
.product-info--product-page .product-info__new {
  margin-bottom: 24px;
}
@media only screen and (min-width: 48em) {
  .product-info--product-page .product-info__new {
    margin-bottom: 16px;
  }
}
.product-info__text {
  margin-bottom: 24px;
}
.product-info--white .product-info__text {
  color: rgba(255, 255, 255, 0.75);
}
.product-info--hero .product-info__text {
  margin-bottom: 28px;
}
@media only screen and (min-width: 48em) {
  .product-info--hero .product-info__text {
    max-width: 21.875rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
}
@media only screen and (min-width: 62em) {
  .product-info--hero .product-info__text {
    margin-left: 0;
  }
}
.product-info__text .product-info--category-page {
  margin-bottom: 24px;
}
@media only screen and (min-width: 48em) {
  .product-info__text .product-info--category-page {
    margin-bottom: 32px;
    font-size: 2.5rem;
    line-height: 110%;
    letter-spacing: 0.08931rem;
  }
}
.product-info__price {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.08038rem;
  color: var(--color-dark);
  text-transform: uppercase;
}
.product-info__price--wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  margin-bottom: 32px;
}
@media only screen and (min-width: 62em) {
  .product-info__price--wrapper {
    margin-bottom: 48px;
  }
}
.product-info__actions {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.product-info--center .product-info__actions {
  justify-content: center;
}
@media only screen and (min-width: 62em) {
  .product-info--center .product-info__actions {
    justify-content: flex-start;
  }
}

.product {
  display: grid;
  align-items: center;
}
.product--category-page {
  gap: 32px;
}
@media only screen and (min-width: 48em) {
  .product--category-page {
    gap: 42px;
  }
}
@media only screen and (min-width: 62em) {
  .product--category-page {
    grid-template-columns: 1fr 1fr;
    gap: 125px;
  }
}
.product--product-page {
  gap: 32px;
}
@media only screen and (min-width: 765px) {
  .product--product-page {
    grid-template-columns: 1fr 1fr;
    gap: 70px;
  }
}
@media only screen and (min-width: 62em) {
  .product--product-page {
    grid-template-columns: 1fr 1fr;
    gap: 125px;
  }
}
.product__img-wrapper {
  display: grid;
  place-items: center;
  position: relative;
  z-index: -1;
}
@media only screen and (min-width: 62em) {
  .product:nth-child(even) .product__img-wrapper {
    order: 1;
  }
}
.product--category-page .product__img-wrapper {
  width: 100%;
  height: 352px;
  border-radius: 8px;
  background-color: #f1f1f1;
}
@media only screen and (min-width: 62em) {
  .product--category-page .product__img-wrapper {
    height: 560px;
  }
}
.product--product-page .product__img-wrapper {
  width: 100%;
  height: 327px;
  border-radius: 8px;
  background-color: #f1f1f1;
}
@media only screen and (min-width: 765px) {
  .product--product-page .product__img-wrapper {
    height: 480px;
  }
}
@media only screen and (min-width: 62em) {
  .product--product-page .product__img-wrapper {
    height: 560px;
  }
}
.product--category-page .product__img-wrapper::after {
  position: absolute;
  z-index: -1;
  content: "";
  width: 165px;
  height: 35px;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  background-color: var(--color-dark);
  border-radius: 50%;
  opacity: 0.1521;
  filter: blur(21.7462539673px);
}
@media only screen and (min-width: 62em) {
  .product--category-page .product__img-wrapper::after {
    width: 262px;
    height: 56px;
    bottom: 80px;
  }
}
.product--product-page .product__img-wrapper::after {
  position: absolute;
  z-index: -1;
  content: "";
  width: 165px;
  height: 35px;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  background-color: var(--color-dark);
  border-radius: 50%;
  opacity: 0.1521;
  filter: blur(21.7462539673px);
}
@media only screen and (min-width: 765px) {
  .product--product-page .product__img-wrapper::after {
    bottom: 35px;
  }
}
@media only screen and (min-width: 62em) {
  .product--product-page .product__img-wrapper::after {
    width: 262px;
    height: 56px;
    bottom: 80px;
  }
}
.product--category-page .product__product-info {
  max-width: 35.75rem;
  margin: 0 auto;
}
.product--category-page .product__img {
  width: 242px;
  width: 244px;
  object-fit: contain;
}
@media only screen and (min-width: 62em) {
  .product--category-page .product__img {
    width: 372px;
    height: 389px;
  }
}
.product--product-page .product__img {
  width: 185px;
  width: 193px;
  object-fit: contain;
}
@media only screen and (min-width: 62em) {
  .product--product-page .product__img {
    width: 372px;
    height: 389px;
  }
}

.category-hero {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--color-dark);
  color: var(--color-white);
  text-align: center;
}
.category-hero__title {
  font-size: 1.75rem;
  line-height: normal;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}
@media only screen and (min-width: 765px) {
  .category-hero {
    font-size: 2.5rem;
    line-height: 110%;
    letter-spacing: 0.08931rem;
  }
}

.category-products__list {
  display: grid;
  gap: 120px;
  padding: 0;
  list-style: none;
}
@media only screen and (min-width: 62em) {
  .category-products__list {
    gap: 160px;
  }
}

.category-card {
  position: relative;
  z-index: 1;
  display: grid;
  justify-items: center;
  text-align: center;
  padding: 0 24px 24px;
}
.category-card::before {
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 165px;
  border-radius: 8px;
  background-color: #f1f1f1;
}
@media only screen and (min-width: 62em) {
  .category-card::before {
    height: 204px;
  }
}
.category-card::after {
  position: absolute;
  z-index: -1;
  content: "";
  width: 95px;
  height: 14px;
  left: 50%;
  bottom: 108px;
  transform: translateX(-50%);
  background-color: var(--color-dark);
  border-radius: 50%;
  opacity: 1;
  filter: blur(21.7462539673px);
}
@media only screen and (min-width: 62em) {
  .category-card::after {
    width: 122px;
    height: 18px;
  }
}
.category-card__title {
  position: relative;
  z-index: 2;
  margin-bottom: 16px;
  font-size: 0.9375rem;
  line-height: normal;
  letter-spacing: 0.0669rem;
  text-transform: uppercase;
  color: var(--color-dark);
}
@media only screen and (min-width: 62em) {
  .category-card__title {
    font-size: 1.125rem;
    letter-spacing: 0.0804rem;
  }
}
.category-card__img {
  position: relative;
  z-index: 2;
  order: -1;
  width: 103px;
  height: 104px;
  object-fit: contain;
  margin-bottom: 36px;
}
@media only screen and (min-width: 62em) {
  .category-card__img {
    width: 125px;
    height: 160px;
  }
}

.category-cards__list {
  display: grid;
  padding: 0;
  list-style: none;
  gap: 16px;
}
@media only screen and (min-width: 48em) {
  .category-cards__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}
@media only screen and (min-width: 62em) {
  .category-cards__list {
    gap: 30px;
  }
}

.featured-products__list {
  display: grid;
  gap: 24px;
  padding: 0;
  list-style: none;
}
@media only screen and (min-width: 48em) {
  .featured-products__list {
    gap: 32px;
  }
}
@media only screen and (min-width: 62em) {
  .featured-products__list {
    gap: 48px;
  }
}

.featured-products-circle {
  display: grid;
  justify-items: center;
  padding: 56px 24px;
  border-radius: 8px;
  background-color: var(--color-primary);
  background-image: url("../img/featured-product-circles-bg.svg");
  background-repeat: no-repeat;
  background-size: 558px 558px;
  background-position: center top -121px;
  color: var(--color-white);
  text-align: center;
  overflow: hidden;
}
@media only screen and (min-width: 48em) {
  .featured-products-circle {
    padding: 52px 64px 64px;
    background-size: 944px 944px;
    background-position: center top -288px;
  }
}
@media only screen and (min-width: 62em) {
  .featured-products-circle {
    height: 560px;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    background-position: -146px -36px;
    padding: 24px 95px;
    text-align: left;
  }
}
.featured-products-circle__content {
  max-width: 21.875rem;
}
.featured-products-circle__img {
  width: 207px;
  height: 207px;
  object-fit: contain;
  margin-bottom: 32px;
}
@media only screen and (min-width: 48em) {
  .featured-products-circle__img {
    width: 237px;
    height: 237px;
    margin-bottom: 64px;
  }
}
@media only screen and (min-width: 48em) {
  .featured-products-circle__img {
    width: 237px;
    height: 237px;
    margin-bottom: 64px;
  }
}
@media only screen and (min-width: 62em) {
  .featured-products-circle__img {
    width: 493px;
    height: auto;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 74.375em) {
  .featured-products-circle__img {
    margin-bottom: -120px;
  }
}
.featured-products-circle__title {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.08038rem;
  text-transform: uppercase;
  margin-bottom: 24px;
}
@media only screen and (min-width: 62em) {
  .featured-products-circle__title {
    font-size: 3.5rem;
    line-height: 103.571%;
    letter-spacing: 0.125rem;
  }
}
.featured-products-circle__text {
  margin-bottom: 24px;
  color: rgba(255, 255, 255, 0.5);
}
@media only screen and (min-width: 48em) {
  .featured-products-circle__text {
    margin-bottom: 40px;
  }
}
.featured-products-circle *:focus {
  outline-color: var(--color-white);
}

.featured-product-bg {
  display: grid;
  align-items: center;
  border-radius: 8px;
  height: 320px;
  padding: 24px;
  background-image: url("../img/featured-product-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
  overflow: hidden;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .featured-product-bg {
    background-image: url("../img/featured-product-bg-mobile@2x.jpg");
  }
}
@media only screen and (min-width: 48em) {
  .featured-product-bg {
    padding: 64px;
    background-image: url("../img/featured-product-bg-tablet.jpg");
  }
}
@media only screen and (min-width: 48em) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 48em) and (min--moz-device-pixel-ratio: 2), only screen and (min-width: 48em) and (-o-min-device-pixel-ratio: 2/1), only screen and (min-width: 48em) and (min-device-pixel-ratio: 2), only screen and (min-width: 48em) and (min-resolution: 192dpi), only screen and (min-width: 48em) and (min-resolution: 2dppx) {
  .featured-product-bg {
    background-image: url("../img/featured-product-bg-tablet@2x.jpg");
  }
}
@media only screen and (min-width: 62em) {
  .featured-product-bg {
    padding: 64px 96px;
    background-image: url("../img/featured-product-bg-desktop.jpg");
    background-position: center center;
  }
}
@media only screen and (min-width: 62em) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 62em) and (min--moz-device-pixel-ratio: 2), only screen and (min-width: 62em) and (-o-min-device-pixel-ratio: 2/1), only screen and (min-width: 62em) and (min-device-pixel-ratio: 2), only screen and (min-width: 62em) and (min-resolution: 192dpi), only screen and (min-width: 62em) and (min-resolution: 2dppx) {
  .featured-product-bg {
    background-image: url("../img/featured-product-bg-desktop@2x.jpg");
  }
}
@media only screen and (min-width: 48em) {
  .featured-product-bg__content {
    max-width: 50%;
  }
}
.featured-product-bg__title {
  font-size: 1.75rem;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.125rem;
  color: var(--color-dark);
  text-transform: uppercase;
  margin-bottom: 32px;
}

.featured-product-cards {
  display: grid;
  gap: 24px;
}
@media only screen and (min-width: 48em) {
  .featured-product-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
}
@media only screen and (min-width: 62em) {
  .featured-product-cards {
    gap: 60px;
  }
}
.featured-product-cards__card {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  background-color: #f1f1f1;
  order: 1;
  display: grid;
  align-content: center;
  justify-items: start;
  gap: 32px;
  padding: 24px;
}
@media only screen and (min-width: 48em) {
  .featured-product-cards__card {
    height: 100%;
    padding: 40px;
  }
}
@media only screen and (min-width: 62em) {
  .featured-product-cards__card {
    padding: 40px 95px;
  }
}
.featured-product-cards__title {
  font-size: 1.75rem;
  line-height: normal;
  letter-spacing: 0.125rem;
  color: var(--color-dark);
  text-transform: uppercase;
}
.featured-product-cards__img {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  object-fit: cover;
  overflow: hidden;
}
@media only screen and (min-width: 48em) {
  .featured-product-cards__img {
    height: 100%;
  }
}

.similar-products {
  text-align: center;
}
.similar-products__heading {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.0536rem;
  color: var(--color-dark);
  text-transform: uppercase;
  margin-bottom: 40px;
}
@media only screen and (min-width: 48em) {
  .similar-products__heading {
    font-size: 2rem;
    line-height: 112.5%;
    letter-spacing: 0.0714rem;
  }
}
@media only screen and (min-width: 48em) {
  .similar-products__heading {
    margin-bottom: 56px;
  }
}
@media only screen and (min-width: 62em) {
  .similar-products__heading {
    margin-bottom: 64px;
  }
}
.similar-products__list {
  display: grid;
  gap: 56px 12px;
  padding: 0;
  list-style: none;
}
@media only screen and (min-width: 48em) {
  .similar-products__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 62em) {
  .similar-products__list {
    gap: 56px 30px;
  }
}
.similar-products__item {
  display: grid;
  justify-items: center;
}
.similar-products__item-title {
  font-size: 1.5rem;
  line-height: normal;
  letter-spacing: 0.1071rem;
  text-transform: uppercase;
  color: var(--color-dark);
  margin-bottom: 32px;
}
.similar-products__item-img-wrapper {
  width: 100%;
  height: 120px;
  border-radius: 8px;
  background-color: #f1f1f1;
  display: grid;
  place-items: center;
  width: 100%;
  order: -1;
  margin-bottom: 32px;
  padding: 12px;
}
@media only screen and (min-width: 48em) {
  .similar-products__item-img-wrapper {
    height: 318px;
    margin-bottom: 40px;
  }
}
.similar-products__item-img {
  width: 88px;
  height: 96px;
  object-fit: contain;
}
@media only screen and (min-width: 48em) {
  .similar-products__item-img {
    width: 190px;
    height: 200px;
  }
}

.product-features-contents__container {
  display: grid;
  align-items: start;
  gap: 88px;
}
@media only screen and (min-width: 48em) {
  .product-features-contents__container {
    gap: 120px;
  }
}
@media only screen and (min-width: 62em) {
  .product-features-contents__container {
    grid-template-columns: minmax(39.6875rem, 1fr) minmax(21.875rem, 1fr);
    gap: 125px;
  }
}

.product-features__heading {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.0536rem;
  color: var(--color-dark);
  text-transform: uppercase;
  margin-bottom: 24px;
}
@media only screen and (min-width: 48em) {
  .product-features__heading {
    font-size: 2rem;
    line-height: 112.5%;
    letter-spacing: 0.0714rem;
  }
}
@media only screen and (min-width: 62em) {
  .product-features__heading {
    margin-bottom: 32px;
  }
}
.product-features p:not(:last-child) {
  margin-bottom: 20px;
}

.product-contents {
  display: grid;
  gap: 24px 12px;
}
@media only screen and (min-width: 48em) {
  .product-contents {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 62em) {
  .product-contents {
    grid-template-columns: none;
    gap: 32px;
  }
}
.product-contents__heading {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.0536rem;
  color: var(--color-dark);
  text-transform: uppercase;
}
@media only screen and (min-width: 48em) {
  .product-contents__heading {
    font-size: 2rem;
    line-height: 112.5%;
    letter-spacing: 0.0714rem;
  }
}
.product-contents__list {
  display: grid;
  gap: 8px;
}
.product-contents__item {
  display: flex;
  gap: 22px;
}
.product-contents__item-title {
  order: 1;
  flex-grow: 1;
}
.product-contents__item-value {
  min-width: 20px;
  font-weight: 700;
  color: var(--color-primary);
}

.product-images__grid {
  display: grid;
  gap: 20px 18px;
}
@media only screen and (min-width: 48em) {
  .product-images__grid {
    grid-template-columns: 3fr 5fr;
    grid-template-rows: repeat(2, 174px);
  }
}
@media only screen and (min-width: 62em) {
  .product-images__grid {
    grid-template-columns: 3fr 4fr;
    grid-template-rows: repeat(2, 280px);
  }
}
@media only screen and (min-width: 74.375em) {
  .product-images__grid {
    grid-template-columns: minmax(27.8125rem, 1fr) minmax(39.6875rem, 1fr);
  }
}
@media only screen and (min-width: 48em) {
  .product-images__item:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .product-images__item:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .product-images__item:nth-child(3) {
    grid-column: 2/-1;
    grid-row: 1/span 2;
  }
}
.product-images__picture {
  height: 100%;
}
.product-images__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  overflow: hidden;
}

.mission__container {
  display: grid;
  justify-items: center;
}
.mission__img {
  width: 100%;
  height: 300px;
  margin-bottom: 40px;
  object-fit: cover;
}
.mission__content {
  width: 100%;
  max-width: 35.875rem;
  text-align: center;
}
.mission__heading {
  margin-bottom: 32px;
  font-size: 1.75rem;
  line-height: normal;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  color: var(--color-dark);
}
.mission__heading--accent {
  color: var(--color-primary);
}
.mission__text {
  color: rgba(0, 0, 0, 0.5);
}

/* 768 */
@media only screen and (min-width: 48em) {
  .mission__heading {
    font-size: 2.5rem;
    line-height: 1.1;
    letter-spacing: 0.08931rem;
  }
}
/* 992 */
@media only screen and (min-width: 62em) {
  .mission__container {
    grid-template-columns: 27.8125rem 1fr;
    gap: 125px;
    align-items: center;
  }
  .mission__img {
    width: 540px;
    height: 588px;
    margin-bottom: 0;
  }
  .mission__content {
    order: -1;
    text-align: left;
  }
}
.radio__control {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-boder);
  border-radius: 8px;
}
.form {
  display: grid;
  gap: 32px;
}
@media only screen and (min-width: 48em) {
  .form {
    gap: 54px;
  }
}
.form__section-heading {
  margin-bottom: 16px;
  font-size: 0.8125rem;
  line-height: 192.308%;
  letter-spacing: 0.05806rem;
  text-transform: uppercase;
  color: var(--color-primary);
}
.form__section-inner {
  display: grid;
  gap: 24px 16px;
  align-items: start;
}
@media only screen and (min-width: 48em) {
  .form__section-inner {
    grid-template-columns: 1fr 1fr;
  }
}
.form__group {
  display: grid;
  gap: 8px;
}
.form__group--full {
  grid-column: 1/-1;
}
@media only screen and (min-width: 48em) {
  .form__group {
    gap: 8px 16px;
    grid-template-columns: 1fr 1fr;
  }
}
.form__group .form__field {
  grid-column: 1/-1;
}
.form__label {
  order: -2;
  justify-self: start;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.0134rem;
  color: var(--color-dark);
}
.form__field {
  padding: 18px 24px;
  border-radius: 8px;
  border: 1px solid var(--color-boder);
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.01563rem;
  color: rgba(0, 0, 0, 0.4);
}
.form__field:not(:placeholder-shown) {
  color: var(--color-dark);
}
.form__field:not(:focus):not(:placeholder-shown):invalid {
  border-color: var(--color-error);
  box-shadow: inset 0 0 0 1px var(--color-error);
}
.form__field:not(:focus):not(:placeholder-shown):invalid ~ .form__error-message {
  display: block;
  text-align: left;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: normal;
  color: var(--color-error);
  letter-spacing: -0.0134rem;
}
@media only screen and (min-width: 48em) {
  .form__field:not(:focus):not(:placeholder-shown):invalid ~ .form__error-message {
    order: -1;
    text-align: right;
  }
}
.form__field:not(:focus):not(:placeholder-shown):invalid ~ .form__label {
  color: var(--color-error);
}
.form__field:focus {
  border-color: var(--color-primary);
}
.form__error-message {
  display: none;
}

.cart-card {
  padding: 32px;
  background-color: var(--color-white);
  border-radius: 8px;
}
.cart-card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.cart-card__heading {
  margin-right: 16px;
  font-size: 1.125rem;
  line-height: normal;
  letter-spacing: 0.0804rem;
  text-transform: uppercase;
  color: var(--color-dark);
}
.cart-card__remove-items-button {
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: 0.9375rem;
  line-height: 166.667%;
  text-decoration: underline;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  transition: var(--transition);
}
.cart-card__remove-items-button:hover {
  color: var(--color-primary);
}
.cart-card__remove-items-button:active {
  opacity: 0.6;
}
.cart-card__products {
  display: grid;
  gap: 24px;
  padding: 0;
  list-style: none;
}
.cart-card-summary__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
}
.cart-card-summary__title {
  text-transform: uppercase;
}
.cart-card-summary__value {
  text-align: right;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: normal;
  color: var(--color-dark);
  text-transform: uppercase;
}
.cart-card-summary__item--grand-total {
  margin-top: 16px;
}
.cart-card-summary__item--grand-total .cart-card-summary__value {
  color: var(--color-primary);
}
.cart-card__empty {
  display: none;
}
.cart-card--empty .cart-card__inner {
  display: none;
}
.cart-card--empty .cart-card__remove-items-button {
  display: none;
}
.cart-card--empty__empty {
  display: block;
  text-align: center;
}
.cart-card--checkout-page .cart-card__remove-items-button {
  display: none;
}

.product-cart-card {
  display: flex;
  align-items: center;
  gap: 16px;
}
.product-cart-card__img-wrapper {
  flex-shrink: 0;
  display: grid;
  place-items: center;
  width: 64px;
  height: 64px;
  border-radius: 8px;
  background-color: #f1f1f1;
}
.product-cart-card__img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}
.product-cart-card__info {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  align-items: center;
  gap: 0 8px;
  margin-bottom: 32px;
}
.product-cart-card__title {
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 166.667%;
  color: var(--color-dark);
  text-transform: uppercase;
}
.product-cart-card__price {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 178.571%;
  color: rgba(0, 0, 0, 0.5);
}
.product-cart-card-summary {
  display: grid;
  gap: 8px;
}
.product-cart-card__count--summary {
  margin-bottom: 24px;
}
.product-cart-card__summary--checkout-page {
  margin-bottom: 32px;
}
.product-cart-card__count {
  grid-column: 2/3;
  grid-row: 1/-1;
}
.product-cart-card__count--summary {
  align-self: baseline;
}

.header {
  position: relative;
  z-index: 99;
  background-color: var(--color-dark);
}
.header--absolute {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
}
.header::after {
  content: "";
  position: absolute;
  height: 1px;
  top: 100%;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.104);
}
@media only screen and (min-width: 48em) {
  .header::after {
    left: var(--container-padding);
    right: var(--container-padding);
  }
}
.header--menu-open::before, .header--cart-open::before {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
}
@media only screen and (min-width: 62em) {
  .header--menu-open::before {
    display: none;
  }
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 16px;
}
@media only screen and (min-width: 48em) {
  .header__container {
    justify-content: flex-start;
    gap: 42px;
  }
}
@media only screen and (min-width: 62em) {
  .header__container {
    justify-content: space-between;
    gap: 42px;
    padding-bottom: 36px;
  }
}
@media only screen and (min-width: 48em) {
  .header__logo {
    margin-right: auto;
  }
}
@media only screen and (min-width: 62em) {
  .header__logo {
    margin-right: 0;
  }
}
.header__sitenav {
  display: none;
}
@media only screen and (min-width: 62em) {
  .header__sitenav {
    display: block;
  }
}
.header__menu-inner {
  display: none;
}
.header--menu-open .header__menu-inner {
  display: block;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 100%;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  border-radius: 0 0 8px 8px;
  background-color: var(--color-white);
}
@media only screen and (min-width: 62em) {
  .header__menu-inner {
    display: block;
  }
}
.header__toggler {
  display: block;
  border: 0;
  padding: 0;
  background-color: transparent;
  color: var(--color-white);
  cursor: pointer;
  transition: var(--transition);
}
.header__toggler:hover {
  color: var(--color-primary);
}
.header__toggler-icon {
  display: block;
  width: 16px;
  height: 15px;
}
.header__toggler-icon--cart {
  width: 23px;
  height: 20px;
}
.header__cart-card {
  padding: 16px;
  margin-left: calc(var(--container-padding) * -1);
  margin-right: calc(var(--container-padding) * -1);
}
@media only screen and (min-width: 23.475rem) {
  .header__cart-card {
    padding: 32px;
    max-width: 23.475rem;
    margin-left: auto;
    margin-right: 0;
    border-radius: 8px;
  }
}
.header__cart {
  flex-shrink: 0;
}
@media only screen and (min-width: 62em) {
  .header__cart {
    display: flex;
    justify-content: flex-end;
    min-width: 143px;
  }
}
.header__cart-inner {
  display: none;
}
.header--cart-open .header__cart-inner {
  display: block;
  position: absolute;
  z-index: 1;
  top: 100%;
  right: 0;
  width: 100%;
}
@media only screen and (min-width: 23.475rem) {
  .header--cart-open .header__cart-inner {
    top: calc(100% + 24px);
  }
}
@media only screen and (min-width: 62em) {
  .header--cart-open .header__cart-inner {
    top: calc(100% + 32px);
  }
}

.haeder__menu {
  flex-shrink: 0;
}
@media only screen and (min-width: 992px) {
  .haeder__menu {
    display: none;
  }
}

.footer {
  background-color: var(--color-grey-dark);
  color: rgba(255, 255, 255, 0.5);
}

.footer__container {
  position: relative;
  padding-top: 52px;
  padding-bottom: 38px;
  text-align: center;
  display: grid;
  justify-items: center;
  gap: 48px 0;
}
.footer__container::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 4px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-primary);
}

.footer__socials {
  order: 1;
}

/*768*/
@media only screen and (min-width: 48em) {
  .footer__container {
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    padding-top: 60px;
    padding-bottom: 46px;
    text-align: start;
  }
  .footer__container::before {
    left: var(--container-padding);
    transform: none;
  }
  .footer__logo,
  .footer__sitenav,
  .footer__about {
    grid-column: 1/-1;
  }
  .footer__logo,
  .footer__sitenav {
    margin-bottom: 32px;
  }
  .footer__about {
    margin-bottom: 80px;
  }
  .footer__socials {
    justify-self: end;
  }
}
/*992*/
@media only screen and (min-width: 62em) {
  .footer__container {
    padding-top: 76px;
    padding-bottom: 48px;
  }
  .footer__logo {
    grid-column: 1/2;
    margin-bottom: 36px;
  }
  .footer__sitenav {
    justify-self: end;
    grid-column: 2/-1;
    margin-bottom: 0;
  }
  .footer__about {
    grid-column: 1/2;
    margin-bottom: 0;
  }
  .footer__socials {
    order: unset;
    align-self: end;
  }
  .footer__copy {
    margin-top: 56px;
  }
}
.hero__product-info {
  max-width: 20.5rem;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 48em) {
  .hero__product-info {
    max-width: 25.75rem;
  }
}
@media only screen and (min-width: 62em) {
  .hero__product-info {
    margin-left: 0;
  }
}

.header-hero {
  position: relative;
  background-color: #121212;
  padding-top: 193px;
  padding-bottom: 112px;
  background-image: url("../img/header-hero-bg-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .header-hero {
    background-image: url("../img/header-hero-bg-mobile@2x.png");
  }
}
@media only screen and (min-width: 48em) {
  .header-hero {
    background-image: url("../img/header-hero-bg-tablet.png");
    background-position: center -37px;
  }
}
@media only screen and (min-width: 48em) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 48em) and (min--moz-device-pixel-ratio: 2), only screen and (min-width: 48em) and (-o-min-device-pixel-ratio: 2/1), only screen and (min-width: 48em) and (min-device-pixel-ratio: 2), only screen and (min-width: 48em) and (min-resolution: 192dpi), only screen and (min-width: 48em) and (min-resolution: 2dppx) {
  .header-hero {
    background-image: url("../img/header-hero-bg-tablet@2x.png");
  }
}
@media only screen and (min-width: 62em) {
  .header-hero {
    padding-top: 221px;
    padding-bottom: 158px;
    background-image: url("../img/header-hero-bg-desktop.png");
    background-size: 710px 729px;
    background-position: calc(50% + 243px) top;
  }
}
@media only screen and (min-width: 62em) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 62em) and (min--moz-device-pixel-ratio: 2), only screen and (min-width: 62em) and (-o-min-device-pixel-ratio: 2/1), only screen and (min-width: 62em) and (min-device-pixel-ratio: 2), only screen and (min-width: 62em) and (min-resolution: 192dpi), only screen and (min-width: 62em) and (min-resolution: 2dppx) {
  .header-hero {
    background-image: url("../img/header-hero-bg-desktop@2x.png");
  }
}

.index-page__main-content {
  padding-top: 40px;
  padding-bottom: 120px;
}
@media only screen and (min-width: 48em) {
  .index-page__main-content {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
@media only screen and (min-width: 62em) {
  .index-page__main-content {
    padding-top: 120px;
    padding-bottom: 200px;
  }
}

.index-page__category-cards {
  margin-bottom: 120px;
}
@media only screen and (min-width: 48em) {
  .index-page__category-cards {
    margin-bottom: 96px;
  }
}
@media only screen and (min-width: 62em) {
  .index-page__category-cards {
    margin-bottom: 168px;
  }
}

.index-page__featured-products {
  margin-bottom: 120px;
}
@media only screen and (min-width: 48em) {
  .index-page__featured-products {
    margin-bottom: 96px;
  }
}
@media only screen and (min-width: 62em) {
  .index-page__featured-products {
    margin-bottom: 168px;
  }
}

.category-page__content {
  padding-top: 64px;
  padding-bottom: 120px;
}
@media only screen and (min-width: 48em) {
  .category-page__content {
    padding-top: 120px;
  }
}
@media only screen and (min-width: 62em) {
  .category-page__content {
    padding-top: 160px;
    padding-bottom: 160px;
  }
}
.category-page__category-products {
  margin-bottom: 135px;
}
@media only screen and (min-width: 48em) {
  .category-page__category-products {
    margin-bottom: 120px;
  }
}
@media only screen and (min-width: 62em) {
  .category-page__category-products {
    margin-bottom: 160px;
  }
}
.category-page__category-cards {
  margin-bottom: 120px;
}
@media only screen and (min-width: 62em) {
  .category-page__category-cards {
    margin-bottom: 160px;
  }
}

.product-page__main-content {
  padding-top: 16px;
  padding-bottom: 120px;
}
@media only screen and (min-width: 48em) {
  .product-page__main-content {
    padding-top: 32px;
  }
}
@media only screen and (min-width: 62em) {
  .product-page__main-content {
    padding-top: 80px;
    padding-bottom: 160px;
  }
}
.product-page__back {
  margin-bottom: 24px;
}
@media only screen and (min-width: 48em) {
  .product-page__back {
    margin-bottom: 56px;
  }
}
.product-page__product {
  margin-bottom: 88px;
}
@media only screen and (min-width: 48em) {
  .product-page__product {
    margin-bottom: 120px;
  }
}
@media only screen and (min-width: 62em) {
  .product-page__product {
    margin-bottom: 160px;
  }
}
.product-page__product-features-contents {
  margin-bottom: 88px;
}
@media only screen and (min-width: 48em) {
  .product-page__product-features-contents {
    margin-bottom: 120px;
  }
}
@media only screen and (min-width: 62em) {
  .product-page__product-features-contents {
    margin-bottom: 160px;
  }
}
.product-page__product-images {
  margin-bottom: 120px;
}
@media only screen and (min-width: 62em) {
  .product-page__product-images {
    margin-bottom: 160px;
  }
}
.product-page__similar-products {
  margin-bottom: 120px;
}
@media only screen and (min-width: 62em) {
  .product-page__similar-products {
    margin-bottom: 160px;
  }
}
.product-page__category-cards {
  margin-bottom: 120px;
}
@media only screen and (min-width: 62em) {
  .product-page__category-cards {
    margin-bottom: 160px;
  }
}

.checkout-page__main-content {
  padding-top: 16px;
  padding-bottom: 96px;
}
@media only screen and (min-width: 48em) {
  .checkout-page__main-content {
    padding-top: 48px;
    padding-top: 116px;
  }
}
@media only screen and (min-width: 48em) {
  .checkout-page__main-content {
    padding-top: 80px;
    padding-top: 140px;
  }
}
.checkout-page__back-link {
  padding-bottom: 24px;
}
@media only screen and (min-width: 62em) {
  .checkout-page__back-link {
    margin-bottom: 40px;
  }
}
.checkout-page__inner {
  display: grid;
  gap: 32px;
}
@media only screen and (min-width: 62em) {
  .checkout-page__inner {
    grid-template-columns: 2fr 1fr;
  }
}
.checkout-page__form-wrapper {
  width: 100%;
  height: auto;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 24px;
}
@media only screen and (min-width: 48em) {
  .checkout-page__form-wrapper {
    padding: 30px 28px;
  }
}
@media only screen and (min-width: 62em) {
  .checkout-page__form-wrapper {
    padding: 54px 48px;
  }
}
.checkout-page__heading {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  color: var(--color-dark);
  margin-bottom: 32px;
}
@media only screen and (min-width: 48em) {
  .checkout-page__heading {
    margin-bottom: 41px;
  }
}

/*# sourceMappingURL=main.css.map */
