@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Bold.woff2") format("woff2"), url("../fonts/Manrope-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.woff2") format("woff2"), url("../fonts/Manrope-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Medium.woff2") format("woff2"), url("../fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* CUSTOM PROPS */
:root {
  --color-brown: #d87d4a;
  --color-brown-light: #fbaf85;
  --color-dark: #000000;
  --color-grey-dark: #101010;
  --color-grey-darkey: #4c4c4c;
  --color-grey: #f1f1f1;
  --color-light: #fafafa;
  --color-white: #ffffff;
  --color-red: #cd2c2c;
  --container-padding: 40px;
  --color-primary: #d87d4a;
  --color-bg-body: #fafafa;
  --color-body-text: #000000;
}

/* OUTLINE*/
/*
  Josh's Custom CSS Reset + some modifications
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* GLOBAL */
body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5625rem;
  /* 166.667%*/
  background-color: var(--color-bg-body);
  color: var(--color-body-text);
}

img {
  height: auto;
}

a {
  color: var(--color-primary);
}
a:hover {
  text-decoration: none;
}
a:active {
  opacity: 0.6;
}

*:focus {
  outline: 2px dashed #d87d4a;
  outline-offset: 3px;
}

/* AUTOFILL-STYLES */
/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/
/* PLACEHOLDER-STYLES */
/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/
/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 74.375rem;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: inline-block;
  padding: 14px 29px;
  color: var(--color-white);
  background-color: var(--color-dark);
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0625rem;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
.button:hover {
  opacity: 0.6;
}
.button--block {
  display: block;
  width: 100%;
}
.button--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.button--primary:hover {
  background-color: var(--color-brown-light);
}
.button--outline {
  border: 1px solid var(--color-dark);
  background-color: transparent;
  color: var(--color-dark);
}
.button--outline:hover {
  background-color: var(--color-dark);
  color: var(--color-white);
}
.button:active {
  opacity: 0.6;
}

.arrow-link {
  display: inline-flex;
  gap: 12px;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-decoration: none;
}
.arrow-link:hover {
  color: #d87d4a;
}
.arrow-link:active {
  opacity: 0.6;
}
.arrow-link::after {
  width: 8px;
  height: 12px;
  background-image: url("../img/arrow-right-primary.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}
.arrow-link--stretched::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  content: "";
}
.arrow-link--stretched:focus {
  outline: none;
}
.arrow-link--stretched:focus::before {
  outline: 2px dashed #d87d4a;
  outline-offset: 3px;
}

.back-link {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.back-link:hover {
  color: var(--color-primary);
}

.number-controls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 120px;
  height: 48px;
  background-color: var(--color-grey);
  color: var(--color-body-text);
  text-align: center;
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}
.number-controls--small {
  width: 96px;
  height: 36px;
  line-height: 32px;
}

.number-controls__button {
  border: 0;
  padding: 0;
  cursor: pointer;
}
.number-controls__button--decrement {
  order: -1;
  color: rgba(0, 0, 0, 0.5);
}
.number-controls__button:hover {
  color: #d87d4a;
}
.number-controls__button:active {
  opacity: 0.6;
}

/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}

/*# sourceMappingURL=main.css.map */
