/* OUTLINE*/
@mixin outline($outline-color) {
  outline: 2px dashed $outline-color;
  outline-offset: 3px;

}

@mixin breakpoint-up ($breakpoint) {
  @media only screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin breakpoint-down ($breakpoint) {
  @media only screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin retina-bg () {

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    @content;
  }
}

@mixin round-card($width, $height, $radius: 8px, $bgcolor: $color-grey) {
  width: $width;
  height: $height;
  border-radius: $radius;
  background-color: $bgcolor;
}

@mixin product-shadow($bottom, $width, $height, $opacity) {
  position: absolute;
  z-index: -1;
  content: "";
  width: $width;
  height: $height;
  left: 50%;
  bottom: $bottom;
  transform: translateX(-50%);
  background-color: var(--color-dark);
  border-radius: 50%;
  opacity: $opacity;
  filter: blur(21.746253967285156px);
}