/* CUSTOM PROPS */
:root {
  --color-brown: #d87d4a;
  --color-brown-light: #fbaf85;
  --color-dark: #000000;
  --color-grey-dark: #101010;
  --color-grey-darkey: #4c4c4c;
  --color-grey: #f1f1f1;
  --color-light: #fafafa;
  --color-white: #ffffff;
  --color-red: #cd2c2c;
}
