@use "sass:color";

.arrow-link {
  display: inline-flex;
  gap: 12px;
  align-items: center;
  color: color.scale($color-dark, $alpha: -50%);
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-decoration: none;

  &:hover {
    color: $color-primary;
  }

  &:active {
    opacity: 0.6;
  }

  &::after {
    width: 8px;
    height: 12px;
    background-image: url("../img/arrow-right-primary.svg");
    background-repeat: no-repeat;
    background-size: contain;
    content: "";

  }

  &--stretched::before {
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    content: "";
  }

  &--stretched:focus {
    outline: none;

    &::before {
      @include outline($color-primary)
    }
  }
}