.button {
  display: inline-block;
  padding: 14px 29px;
  color: var(--color-white);
  background-color: var(--color-dark);
  border: 1px solid var(--color-primary);
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0625rem;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  transition: var(--transition);

  &:hover {
    opacity: 0.6;
  }

  &--block {
    display: block;
    width: 100%;
  }

  &--primary {
    background-color: var(--color-primary);
    color: var(--color-white);

    &:hover {
      background-color: var(--color-brown-light);
    }
  }

  &--outline {
    border: 1px solid var(--color-dark);
    background-color: transparent;
    color: var(--color-dark);

    &:hover {
      background-color: var(--color-dark);
      color: var(--color-white);
    }
  }

  &:active {
    opacity: 0.6;
  }

}