.category-products {
  padding-top: 64px;
  padding-bottom: 120px;

  &__list {
    display: grid;
    gap: 120px;
    padding: 0;
    list-style: none;
  }

  @include breakpoint-up($breakpoint-medium) {
    padding-top: 120px;
  }

  @include breakpoint-up($breakpoint-large) {
    padding-top: 160px;
    padding-bottom: 160px;

    &__list {
      gap: 160px;
    }
  }
}