.category-products {
  &__list {
    display: grid;
    gap: 120px;
    padding: 0;
    list-style: none;
  }

  @include breakpoint-up($breakpoint-large) {
    &__list {
      gap: 160px;
    }
  }
}