/* CONTAINER */
.container {
  width: 100%;
  max-width: 74.375rem;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin-left: auto;
  margin-right: auto;
}
/*640*/
@media only screen and (min-width: 40rem) {
  $container-padding: 40px;  

  :root {
    --container-padding: #{$container-padding};
  }
}
@media only screen and (max-width: 40rem) {
  $container-padding: 24px;  

  :root {
    --container-padding: #{$container-padding};
  }
}