/* CONTAINER */
.container {
  width: 100%;
  max-width: 74.375rem;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 40rem) {
  :root {
    --container-padding: 24px;
  }
  
}