.featured-products {

  &__list {
    display: grid;
    gap: 24px;
    padding: 0;
    list-style: none;

    @include breakpoint-up($breakpoint-medium) {
      gap: 32px;
    }
    @include breakpoint-up($breakpoint-large) {
      gap: 48px;
    }
  }
}
