.featured-product-cards {
  display: grid;
  gap: 24px;

  @include breakpoint-up($breakpoint-medium) {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;  
  }
  @include breakpoint-up($breakpoint-large) {
    gap: 60px;
  }
  &__card {
    @include round-card($width: 100%, $height: 200px);
    order: 1;
    display: grid;
    align-content: center;
    justify-items: start;
    gap: 32px;
    padding: 24px;
    @include breakpoint-up($breakpoint-medium) {
      height: 100%;
      padding: 40px;
    }
    @include breakpoint-up($breakpoint-large) {
      padding: 40px 95px;
    }
  }
  &__title {
    font-size: 1.75rem;
    line-height: normal;
    letter-spacing: 0.125rem;
    color: var(--color-dark);
    text-transform: uppercase;
  }
  &__img {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
    overflow: hidden;

    @include breakpoint-up($breakpoint-medium) {
      height: 100%;
    }
  }
}