.form-payment-method {
  display: grid;
  gap: 16px;

  @include breakpoint-up($breakpoint-medium) {
    gap: 12px;
  }
  @include breakpoint-up($breakpoint-large) {
    gap: 32px;
  }
  
  &__radio {
    grid-column: 2 / -1;
  }

  &__tabs {
    grid-row: 3 / 4;
    grid-column : 1 / -1;
  }

  &__cash-info {
    
    @include breakpoint-up($breakpoint-medium) {
      display: flex;
      align-items: center;
      gap: 32px;
    }
  }  
  
  &__cash-icon {
    display: none;

    @include breakpoint-up($breakpoint-medium) {
      display: block;
    }
  }
}