.header {
  position: relative;
  z-index: 1;
  background-color: var(--color-dark);
  
  &--absolute {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
  }
  &::after {
    content: "";
    position: absolute;
    height: 1px;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.104);
    
    @include breakpoint-up(768px) {
      left: var(--container-padding);
      right: var(--container-padding);
    }
  }
  &--menu-open::before,
  &--cart-open::before {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.5);
    content: "";
  }
  @include breakpoint-up(992px) {
    &--menu-open::before {
      display: none;
    }
  }
  
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 16px;
    
    @include breakpoint-up(768px) {
      justify-content: flex-start;
      gap: 42px;
    }
    @include breakpoint-up(992px) {
      justify-content: space-between;
      gap: 42px;
      padding-bottom: 36px;
    }
  }

  &__logo {

    @include breakpoint-up(768px) {
      margin-right: auto;
    }
    @include breakpoint-up(992px) {
      margin-right: 0;
    }
  }

  &__sitenav {
    display: none;
    @include breakpoint-up(992px) {
      display: block;
    }
  }
  &__menu-inner {
    display: none;
    .header--menu-open & {
      display: block;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 100%;
      width: 100%;
      padding-top: 32px;
      padding-bottom: 32px;
      border-radius: 0 0 8px 8px;
      background-color: var(--color-white);
    }
    @include breakpoint-up(992px) {
      display: block;
    }
  }
  &__toggler {
    display: block;
    border: 0;
    padding: 0;
    background-color: transparent;
    color: var(--color-white);
    cursor: pointer;
    transition: var(--transition);
  
    &:hover {
      color: var(--color-primary);
    }
  }
  &__toggler-icon {
    display: block;
    width: 16px;
    height: 15px;

    &--cart {
      width: 23px;
      height: 20px;
    }
  }
  &__cart-card {
    padding: 16px;  
    margin-left: calc(var(--container-padding) * -1);
    margin-right: calc(var(--container-padding) * -1);


    @include breakpoint-up(23.475rem) {
      padding: 32px;
      max-width: 23.475rem;
      margin-left: auto;
      margin-right: 0;
      border-radius: 8px;
    }
  }
  &__cart {
    flex-shrink: 0;
    @include breakpoint-up(992px) {
      display: flex;
      justify-content: flex-end;
      min-width: 143px;
    }
  }
  &__cart-inner {
    display: none;

    .header--cart-open & {
      display: block;
      position: absolute;
      z-index: 1;
      top: 100%;
      right: 0;
      width: 100%;
      @include breakpoint-up(23.475rem) {
        top: calc(100% + 24px);
      }
      @include breakpoint-up(992px) {
        top: calc(100% + 32px);
      }
    }
  }
}

.haeder__menu {
  flex-shrink: 0;
  @include breakpoint-up(992px){
    display: none;
  }
}

