.header {
  position: relative;
  z-index: 1;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--color-dark);
  @include breakpoint-up(992px) {
    
    padding-bottom: 36px;
  }

  &--absolute {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
  }
  &::after {
    content: "";
    position: absolute;
    height: 1px;
    top: 100%;
    left: 0;
    right: 0;
    // background-color: rgba(255, 255, 255, 0.104);
    background-color: rgba(249, 7, 7);

    @include breakpoint-up(768px) {
      left: var(--container-padding);
      right: var(--container-padding);
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    @include breakpoint-up(768px) {
      justify-content: flex-start;
      gap: 42px;
    }
    @include breakpoint-up(992px) {
      justify-content: space-between;
      gap: 42px;
    }
  }

  &__logo {

    @include breakpoint-up(768px) {
      margin-right: auto;
    }
    @include breakpoint-up(992px) {
      margin-right: 0;
    }
  }

  &__sitenav {
    display: none;
    @include breakpoint-up(992px) {
      display: block;
    }
  }
  &__menu-inner {
    display: none;
    .header--menu-open & {
      display: block;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 100%;
      width: 100%;
      padding-top: 32px;
      padding-bottom: 32px;
      border-radius: 0 0 8px 8px;
      background-color: var(--color-white);
    }
    @include breakpoint-up(992px) {
      display: block;
    }
  }
  &__toggler {
    display: block;
    border: 0;
    padding: 0;
    background-color: transparent;
    color: var(--color-white);
    cursor: pointer;
    transition: var(--transition);
  
    &:hover {
      color: var(--color-primary);
    }
  }
  &__toggler-icon {
    display: block;
    width: 16px;
    height: 15px;

    &--cart {
      width: 23px;
      height: 20px;
    }
  }
  &__cart {
    flex-shrink: 0;
    @include breakpoint-up(992px) {
      display: flex;
      justify-content: flex-end;
      min-width: 143px;
    }
  }
  &__cart-inner {
    display: none;

    .header--cart-open & {
    display: block;
      position: absolute;
      z-index: 1;
      top: calc(100% + 24px);
      right: 0;
    }
  }
  &--menu-open,
  &--cart-open {
    z-index: 99;
  }
}

.haeder__menu {
  flex-shrink: 0;
  @include breakpoint-up(992px){
    display: none;
  }
}

