.index-page__main-content {
  padding-top: 40px;
  padding-bottom: 120px;
  
  @include breakpoint-up($breakpoint-medium) {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  @include breakpoint-up($breakpoint-large) {
    padding-top: 120px;
    padding-bottom: 200px;
  }
}
.index-page__category-cards {
  margin-bottom: 120px;
  @include breakpoint-up($breakpoint-medium) {
    margin-bottom: 96px;
  }
  @include breakpoint-up($breakpoint-large) {
    margin-bottom: 168px;
  }
}
.index-page__featured-products {
  margin-bottom: 120px;
  @include breakpoint-up($breakpoint-medium) {
    margin-bottom: 96px;
  }
  @include breakpoint-up($breakpoint-large) {
    margin-bottom: 168px;
  }
}