@use "sass:color";

.mission {
  padding-top: 120px;
  padding-bottom: 120px;

  &__container {
    display: grid;
    justify-items: center;
  }

  &__img {
    width: 100%;
    height: 300px;
    margin-bottom: 40px;
    object-fit: cover;
  }

  &__content {
    width: 100%;
    max-width: 35.875rem;
    text-align: center;
  }

  &__heading {
    margin-bottom: 32px;
    font-size: 1.75rem;
    line-height: normal;
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
    color: var(--color-dark);

    &--accent {
      color: var(--color-primary);
    }
  }

  &__text {
    color: color.scale($color: $color-dark, $alpha: -50%);

  }
}

/* 768 */
@include breakpoint-up(48em) {
  .mission {
    padding-top: 96px;
    padding-bottom: 96px;

    &__heading {
      font-size: 2.5rem;
      line-height: 1.1;
      letter-spacing: 0.08931rem;
    }
  }
}

/* 992 */
@include breakpoint-up(62em) {
  .mission {
    padding-top: 200px;
    padding-bottom: 200px;

    &__container {
      grid-template-columns: 27.8125rem 1fr;
      gap: 125px;
      align-items: center;
    }

    &__img {
      width: 540px;
      height: 588px;
      margin-bottom: 0;
    }

    &__content {
      order: -1;
      text-align: left;

    }
  }
}