@use "sass:color";

.number-controls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 120px;
  height: 48px;
  background-color: var(--color-grey);
  color: var(--color-body-text);
  text-align: center;
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;



  &--small {
    width: 96px;
    height: 36px;
    line-height: 32px;

  }
}

.number-controls__count {}


.number-controls__button {
  border: 0;
  padding: 0;
  cursor: pointer;


  &--decrement {
    order: -1;
    color: color.scale($color-dark, $alpha: -50%);
  }

  &:hover {
    color: $color-primary;
  }

  &:active {
    opacity: 0.6;
  }
}