@use "sass:color";

.product-info {
  display: grid;

  &--center {
    text-align: center;

    @include breakpoint-up(62em) {
      text-align: left;
    }
  }

  &__title {
    margin-bottom: 24px;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.0625rem;
    color: var(--color-dark);
    text-transform: uppercase;

    .product-info--white & {
      color: var(--color-white);
    }

    .product-info--hero & {
      margin-bottom: 24px;
      font-size: 2.25rem;
      line-height: 111.111%;
      letter-spacing: 0.08038rem;

      @include breakpoint-up($breakpoint-medium) {
        font-size: 3.5rem;
        line-height: 103.571%;
        letter-spacing: 0.125rem;
      }
    }

    .product-info--category-page {
      margin-bottom: 24px;

      @include breakpoint-up($breakpoint-medium) {
        margin-bottom: 32px;
        font-size: 2.5rem;
        line-height: 110%;
        letter-spacing: 0.08931rem;
      }
    }

    .product-info--product-page & {
      margin-bottom: 24px;

      @include breakpoint-up($breakpoint-medium) {
        margin-bottom: 32px;
        line-height: 114.286%;

      }

      @include breakpoint-up($breakpoint-large) {
        font-size: 2.5rem;
        line-height: 11%;
        letter-spacing: 0.08931rem;
      }
    }
  }

  &__new {
    order: -1;
    margin-bottom: 24px;
    color: var(--color-primary);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.625rem;
    text-transform: uppercase;

    .product-info--white & {
      color: color.scale($color: $color-white, $alpha: -25%);
    }

    .product-info--hero & {
      margin-bottom: 16px;
      color: color.scale($color: $color-white, $alpha: -50%);

      @include breakpoint-up($breakpoint-medium) {
        margin-bottom: 24px;
      }
    }

    .product-info--category-page & {
      margin-bottom: 24px;

      @include breakpoint-up($breakpoint-medium) {
        margin-bottom: 16px;
      }
    }

    .product-info--product-page & {
      margin-bottom: 24px;

      @include breakpoint-up($breakpoint-medium) {
        margin-bottom: 16px;
      }
    }
  }

  &__text {
    margin-bottom: 24px;

    .product-info--white & {
      color: color.scale($color: $color-white, $alpha: -25%);
    }

    .product-info--hero & {
      margin-bottom: 28px;

      @include breakpoint-up($breakpoint-medium) {
        max-width: 21.875rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
      }
      @include breakpoint-up($breakpoint-large) {
        margin-left: 0;
        
      }
    }

    .product-info--category-page {
      margin-bottom: 24px;

      @include breakpoint-up($breakpoint-medium) {
        margin-bottom: 32px;
        font-size: 2.5rem;
        line-height: 110%;
        letter-spacing: 0.08931rem;
      }
    }
  }

  &__price {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.08038rem;
    color: var(--color-dark);
    text-transform: uppercase;
  }

  &__price--wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    margin-bottom: 32px;

    @include breakpoint-up($breakpoint-large) {
      margin-bottom: 48px;
    }

  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    .product-info--center & {
      justify-content: center;

      @include breakpoint-up($breakpoint-large) {
        justify-content: flex-start;
      }
    }
  }


}