.products-list {
  display: grid;
  gap: 12px;

  &--single .products-list__toggle-wrapper {
    display: none;
  }

  &__list {
    display: grid;
    padding: 0;
    gap: 16px;
    width: 100%;
  }

  &--collapsed &__item:not(:first-child)  {
    display: none;
  }

  &__toggle-wrapper {
    padding-top: 12px;
    border-top: 1px solid rgb(0, 0, 0, 0.08);
    text-align: center;
  }

  &__toggler {
    padding: 0;
    border: 0;
    background-color: transparent;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.01338rem;
    color: rgb(0, 0, 0, 0.5);
    cursor: pointer;
  }

}