.purchased-products {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;

  @include breakpoint-up($breakpoint-medium) {
    flex-direction: row;
  }

  &__details {
    flex-grow: 1;
    display: grid;
    align-items: center;
    padding: 24px;
    background-color: var(--color-grey);
  }

  &__grand-total {
    display: flex;
    flex-direction: column;
    padding: 16px 24px;
    background-color: var(--color-dark);
    color: var(--color-white);
    
    @include breakpoint-up($breakpoint-medium) {
      width: 100%;
      max-width: 12.375rem;
      padding: 40px 24px;
    }
  }
  &__grand-total-text {
    margin-top: auto;
    margin-bottom: 8px;
    text-transform: uppercase;
    color: rgb(255, 255, 255, 0.5);
  }
  &__grand-total-value {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  } 

}