.radio {

  &__input:checked ~ .radio__control {
    border-color: var(--color-primary);
  }
  &__input:checked:focus ~ .radio__control {
    @include outline(var(--color-primary))
  }

  &__control {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 18px 16px;
    border: 1px solid var(--color-boder);
    border-radius: 8px;
    cursor: pointer;
    transition: var(--transition);

    &:hover {
      border-color: var(--color-primary);
    }
  }

  &__circle {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid var(--color-boder);
    border-radius: 50%;

    &::after {
      content: "";
      opacity: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: var(--color-primary);
    }
  }

  &__input:checked ~ .radio__control .radio__circle::after {
    opacity: 1;
  }

  &__text {
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 0.0156rem;
    color: var(--color-dark);
  }

}