.similar-products {
  text-align: center;

  &__heading {
    @include page-section-heading();
    margin-bottom: 40px;
   
    @include breakpoint-up($breakpoint-medium) {
      margin-bottom: 56px;
    }
    @include breakpoint-up($breakpoint-large) {
      margin-bottom: 64px;
    }
  }
  &__list {
    display: grid;
    gap: 56px 12px;
    padding: 0;
    list-style: none;

    @include breakpoint-up($breakpoint-medium) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include breakpoint-up($breakpoint-large) {
      gap: 56px 30px;
    }
  }
  &__item {
    display: grid;
    justify-items: center;
  }
  &__item-title {
    font-size: 1.5rem;
    line-height: normal;
    letter-spacing: 0.1071rem;
    text-transform: uppercase;
    color: var(--color-dark);
    margin-bottom: 32px;
  }
  &__item-img-wrapper {
    @include round-card($width: 100%, $height: 120px);
    display: grid;
    place-items: center;
    width: 100%;
    order: -1;
    margin-bottom: 32px;
    padding: 12px;

    @include breakpoint-up($breakpoint-medium) {
      height: 318px;
      margin-bottom: 40px;
    }
  }
  &__item-img {
    width: 88px;
    height: 96px;
    object-fit: contain;

    @include breakpoint-up($breakpoint-medium) {
      width: 190px;
      height: 200px;
    }
  }
}