
.sitenav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 0;
  list-style: none;
}
.sitenav__link {
  display: block;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 192.308%;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: $color-white;
  transition: var(--transition);

  &:hover {
    color: var(--color-primary);
  }
}
.sitenav__item--active .sitenav__link {
  color: var(--color-primary);
}

/*375 maxWidth*/
@media only screen and (min-width: 23.4375em) {
  .sitenav__list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px 34px;
  }
}

